$size-inner : 1200rem;
$size-gap : 30rem;
$size-h2 : 40rem;

$color-white : #fff;
$color-black : #1A1A1A;
$color-blue : #08f;
$color-line : #f2f2f2;
$color-shadow1: rgba(0,0,2,.08);
$color-shadow2: rgba(0,0,0,.09);
$color-gray: #8b95a1;