@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
html {
  font-size: 6.25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

body {
  line-height: 1;
  font-size: 16rem;
  font-family: "Roboto", "Noto Sans KR", "Noto Serif KR", sans-serif;
  word-break: keep-all;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

em, i, address {
  font-style: normal;
}

.inner {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  background: #fff;
  height: 100rem;
}
.header .h_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 60rem;
  height: 100%;
}
.header .h_inner .logo > img {
  position: absolute;
  top: 50%;
  left: 60rem;
  transform: translate(0, -50%);
}
.header .h_inner .gnb > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.header .h_inner .gnb > ul > li {
  font-size: 16rem;
  font-weight: 500;
  color: #1A1A1A;
  position: relative;
}
.header .h_inner .gnb > ul > li .lnb {
  display: none;
  position: absolute;
  top: 30rem;
  left: 0;
  width: 1000px;
  background: #fff;
  z-index: 999;
}
.header .h_inner .gnb > ul > li .lnb .l_top {
  display: flex;
  gap: 30px;
}
.header .h_inner .gnb > ul > li .lnb .l_top .egg {
  display: flex;
}
.header .h_inner .gnb > ul > li .lnb .l_bottom > a {
  display: flex;
  align-items: center;
}
.header .h_inner .gnb > ul > li .lnb .l_bottom > a > span {
  font-size: 14rem;
}
.header .h_inner .gnb > ul > li .lnb .l_bottom > a > strong {
  font-size: 14rem;
}
.header .h_inner .gnb > ul > li:hover .lnb {
  display: block;
}
.header .h_inner .gnb > ul > li .list {
  display: none;
  position: absolute;
  top: 60rem;
  left: 0;
  z-index: 999;
  background: #fff;
  width: 200rem;
}
.header .h_inner .gnb > ul > li:hover .list {
  display: block;
}
.header .h_inner > span {
  display: block;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translate(0, -50%);
  background: #1A1A1A;
  color: #fff;
  font-size: 16rem;
  padding: 10rem 15rem;
  border-radius: 10rem;
}

.main_major .major_slide {
  overflow: hidden;
}
.main_major .major_slide .swiper-wrapper {
  height: calc(100vh - 500rem);
}
.main_major .major_slide .swiper-wrapper .major01 {
  background: url(../imges/mm01.png) no-repeat center 75%/cover;
}
.main_major .major_slide .swiper-wrapper .major02 {
  background: url(../imges/mm02.png) no-repeat center center/cover;
}
.main_major .major_slide .swiper-wrapper .major03 {
  background: url(../imges/mm03.png) no-repeat center center/cover;
}
.main_major .major_slide .swiper-wrapper .txt {
  max-width: 1200rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_major .major_slide .swiper-wrapper .txt h2 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 38rem;
  margin: 0 0 10rem 0;
}
.main_major .major_slide .swiper-wrapper .txt p {
  font-size: 16rem;
  font-weight: 300;
  line-height: 20rem;
  margin: 0 0 70rem 0;
}
.main_major .major_slide .swiper-wrapper .txt span {
  font-size: 14rem;
  font-weight: 500;
  background: #fff;
  color: #1A1A1A;
  padding: 20rem 40rem;
  border-radius: 10rem;
}
.main_major .major_slide .swiper-wrapper .txt span > a > i {
  font-size: 16rem;
  font-weight: 700;
}

.main_banner {
  width: 100%;
}
.main_banner .banner_slide {
  overflow: hidden;
  position: relative;
}
.main_banner .banner_slide .swiper-wrapper {
  height: 500rem;
}
.main_banner .banner_slide .swiper-wrapper .banner01 {
  background: url(../imges/mba01.png) no-repeat center center/cover;
}
.main_banner .banner_slide .swiper-wrapper .banner02 {
  background: url(../imges/mba02.png) no-repeat center center/cover;
}
.main_banner .banner_slide .swiper-wrapper .banner03 {
  background: url(../imges/mba03.png) no-repeat center center/cover;
}
.main_banner .banner_slide .swiper-wrapper .txt {
  max-width: 1200rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */